.bg-unamba-blue {
    background-color: #1a3b70 !important;
}

.bg-unamba-light-blue {
    background-color: #f0f4fa !important;
}

.border-unamba-light-blue {
    border-color: #dbeafe !important;
}

.text-unamba-dark-blue {
    color: #0f2a54 !important;
}

.text-unamba-blue {
    color: #1a3b70 !important;
}

.text-unamba-gold {
    color: #c29b57 !important;
}
